.box-navbar{
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.box-navbar h1,h2,h3{
    color: #333;
}
.box-navbar .content-navbar{

    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box-input{
    width: 100%;
    box-shadow: 0rem 0rem 11px 3px rgba(170, 168, 168, 0.5);
}
.content-results{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.result p{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
}
.card-result{
    background: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0rem 0rem 11px 3px rgba(170, 168, 168, 0.5);
}
